<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ajax</title>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>

<script>
       $(document).ready(function(){
    	   
    	   $("#dropdown").on("change",function(e)   {
               $.ajax({
               	type : "GET",
               	url : "/dropmsg",
               	data : {
               		cname : $("#cname").val()
               	},
               	success : function(result){
               		$("#drop").html(result)
               	}
               });
   			    		   
   	   });
    	   
    	   
    	   
    	 
    	   $("#submitbutton").click(function(e)   {
                $.ajax({
                	type : "GET",
                	url : "/msg",
                	data : {
                		name : $("#nameofuser").val()
                	},
                	success : function(result){
                		$("#msgDiv").html(result)
                	},
                	error : function(result){
                		alert('error');
                	}
                	
                	
                });
    			    		   
    	   });
    	   
    	   
       });

 
</script>


</head>
<body>
 
       Enter Name <input type="text" name="name" id="nameofuser">
        <input type ="button" value="Submit" id="submitbutton">
       
     <hr>
     
        <div id="msgDiv"></div>
        
     <hr>
     
     <select id="dropdown">
       <option>-select-</option>
       <option>-India-</option>
       <option>-USA-</option>
       <option>-Russia</option>
       <option>-Italy</option>
     </select>
     
     <hr>
     
     <div id="drop"></div>
     
     
     
     
     
        
        

</body>
</html>